/* Generics */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    ;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

body{
    position: relative;
}
/* Header 1*/

.logo{
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 15%;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.grey-button{
    display: inline;
    color: lightgrey;
    padding: 5px 10px;
}

/* Section */

.main-content{
    width: 100%;
    height: 560px;
    margin-top: 20px;
    border-radius: 15px;
    background-image: url(./images/banner.jpg);
}

.title{
    float: left;
    color: white;
    font-weight: normal;
    margin-top: 425px;
    margin-left: 50px;
}

.subtitle{
    float: left;
    color: white;
    margin-left: 50px;
}
/* Header 2 */

.new-section{
    width: 100%;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: left;
}

/* Container */

.container{
    width: auto;
    height: auto;
}

.left-box{
    float: left;
    width: 25%;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-image: url(./images/img-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.bold{
    font-weight: bold;
}

.middle-box{
    float: left;
    width: calc(50% - 40px);
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(./images/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.right-box{
    float: right;
    width: 25%;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url(./images/img-3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* Footer */

.box-violet{
    width: 100%;
    height: 75px;
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}

.heart{
    color: red;
}

/* Spacing */

.spacing{
    margin: 0;
    margin-top: 40px;
}

/* Details */

.second-row{
    margin: 0;
}

.details{
    float: left;
    max-width: 25%;
    margin: 0;
}

.details-middle{
    float: left;
    max-width: calc(50% - 40px);
    margin: 0;
}